:root{
  --orange: #fc6a42;
  --azul:#4466c9;
}


body{
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.header{
 height: 100vh;
background: url(./images/bg-home.png);
background-size: cover;
background-repeat: no-repeat;
object-fit: contain;
background-position: center;
}

.container-md{
  max-width: 960px;
}

/* Flex */

.flex{
  display:  flex;
}
.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}


.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}


/* width */

.w-40 {
  width: 40%
}
.w-10 {
  width: 10%
}

.w-80{
  width: 80%;
}

.w-100{
  width: 100%;
}


/* padding */
.p-2{
  padding: 1.25em;
}


.p-1{
  padding: 0.75em;
}

.px-2{
  padding-left: 1.25em;
padding-right: 1.25em;
}

.pt-5{
  padding-top: 3em;
}



/* margenes */
.mb-1{
margin-bottom: 0.5em;
}
.mb-2{
  margin-bottom: 0.75em;
}

.mb-3{
  margin-bottom: 1em;
}

.mb-4{
  margin-bottom: 2em;
}

.mb-5{
  margin-bottom: 3em;
}

.mt-1{
margin-top: 0.5em;
}
.mt-2{
  margin-top: 0.75em;
}

.mt-3{
  margin-top: 1em;
}

.mt-4{
  margin-top: 2em;
}

.mt-5{
  margin-top: 3em;
}




.my-5{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.my-4{
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.my-3{
  margin-top: 1em;
  margin-bottom: 1em;
}
.my-2{
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.my-1{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.mr-1{
margin-right: 0.5em;
}

.mr-2{
  margin-right: 0.75em;
}


.mr-3{
  margin-right: 1em;
}


.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.brand{
  height: 15px;
  width: auto;
} 
/* baackground */
.call-action{
  height: 60px;
  width: 60px;
  background-image: url(./images/Shape.png);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}


/* font-size */
.text-sx{
  font-size: 12px;
}

.text-sm{
  font-size: 14px;
}

.text-md{
  font-size: 18px;
}

.text-lg{
  font-size: 24px;
}

.text-xl{
  font-size: 28px;
}

.text-2xl{
  font-size: 32px;
}


.text-3xl{
  font-size: 48px;
}

.line-heigth{
  line-height: 14px;
}

.line-heigth-sm{
  line-height: 24px;
}

.line-heigth-md{
  line-height: 52px;
}


.uppercase{
  text-transform: uppercase;
}

/* color text */
.text-white{
  color: white;
}

.text-gray-70{
  color: #cdd3e7;
}

.text-darkgray{
  color: #a8a8a8;
}

.text-primary{
  color:var(--azul)
}

/* text weight */
.text-bold{
  font-weight: bold;
}

.text-regular{
  font-weight: 400;
}


.text-thin{
  font-weight: 200;
}

.text-center{
  text-align: center;
}



/* rrss */
.rrss{
  height: 20px;
}



/* links */
.link-active{
  color: white;
}

/* button */
.btn{
  border: none;
  cursor: pointer;
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}


.btn-primary{
  background-color: var(--azul);
  color: white;
}

.btn-secondary{
  background-color: var(--orange);
  color: white;
}

/* rounded */
.rounded{
  border-radius: 0.5em;
}

.rounded-md{
  border-radius: 0.75em;
}
.rounded-99{
   border-radius: 50%;
}

/* images */
.img-responsive{
  height: 40px;
  background-size: cover;
  object-fit: cover;
}
.img-responsive:hover{
  cursor: pointer;
    height: 45px;
    transition: height 0.9s linear 0s;
}

.img-sm{
  height: auto;
  width: 80px;
}

.sun{
    width: 40px;
}



.img-md{
  height: auto;
  width: 120px;
}

.hero-resposive{
  height: 400px;
}
.hero-resposive:hover{
  cursor: pointer;
    height:420px;
    transition: height 0.9s linear 0s;
}

/* burger */

div.burger{
  display: block;
  height: 25;
  display: grid;
  gap: 1px;
}

 div.burger>span { 
  height: 3px;
  width: 25px;
  background-color: #fff;
  cursor: pointer;
}


/* Animaciones */

.text-shadow-pop-top {
	-webkit-animation: text-shadow-pop-top 0.6s both;
	        animation: text-shadow-pop-top 0.6s both;
}

@-webkit-keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
@keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
